{% extends 'base.html' %}
{% load static %}

{% block title %}Financeiro Geral - CapitalCredito{% endblock %}

{% block header_title %}Financeiro Geral{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Financeiro Geral</h4>
                </div>
                <div class="card-body">
                    <p>Bem-vindo ao módulo Financeiro Geral.</p>
                    <p>Aqui você poderá:</p>
                    <ul>
                        <li>Gerenciar contas a pagar</li>
                        <li>Gerenciar contas a receber</li>
                        <li>Definir categorias financeiras</li>
                        <li>Visualizar relatórios gerais</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

