{% extends 'base.html' %}
{% load static %}

{% block title %}Usuários - CapitalCredito{% endblock %}

{% block header_title %}Usuários{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Gestão de Usuários</h4>
                </div>
                <div class="card-body">
                    <p>Bem-vindo ao módulo de Gestão de Usuários.</p>
                    <p>Aqui você poderá:</p>
                    <ul>
                        <li>Gerenciar usuários do sistema</li>
                        <li>Configurar permissões de acesso</li>
                        <li>Definir perfis de usuário</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

