<div class="modal fade" id="modalNcArquivos" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title fs-6"><i class="bx bx-paperclip me-1"></i>Arquivos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="nc-arquivos-lista" class="mb-3 small">Carregando...</div>
                <div class="border-top pt-2">
                    <label class="form-label small mb-1">Enviar arquivo</label>
                    <input type="text" class="form-control form-control-sm mb-1" id="nc-arquivo-titulo" placeholder="Título">
                    <input type="file" class="form-control form-control-sm mb-2" id="nc-arquivo-file">
                    <button type="button" class="btn btn-sm siape-btn-gold" id="nc-btn-enviar-arquivo">
                        <i class="bx bx-upload"></i> Anexar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
